
.arvoreP{
    z-index: -2;
    position: absolute;
    transform: scale(1.2);
    top: -10px;
    left: -200px;
  
}

.arvore{
    z-index: 6;
    position: absolute;
    transform: scale(1.2);
    top: -10px;
    left: -200px;
  
}
.arvore2{
    z-index: 6;
    position: absolute;
    transform: scale(1.2);
    top: 180px;
    left: 400px;
}
.arvore3{
    z-index: 6;
    position: absolute;
    top: -6px;
    left: 1100px;
    transform: scale(1.1);
}


.grupoArvore2{
    position: absolute;
    left: 1820px;
    background-repeat:repeat-y
}
.grupoArvore3{
    position: absolute;
    left: 3720px;
    background-repeat:repeat-y
}

.grupoArvore4{
    position: absolute;
    left: 5560px;
    background-repeat:repeat-y
}

.grupoArvore5{
    position: absolute;
    left: 7420px;
    background-repeat:repeat-y
}


.floresta2{
    position: absolute;
    top: 600px;
}

.floresta3{
    position: absolute;
    top: 1400px;
}

.floresta4{
    position: absolute;
    top: 2200px;
}


