body{
    display: flex;
    gap: 30px;
}
.um, .dois, .tres, .quatro, .cinco{
    width: 250px;
    height: 250px;
    font-weight: bold;
    font-size: 20px;
}
.um{
    background-color: green;
}
.dois{
    background-color: blue;
}
.tres{
    background-color: red;
}
.quatro{
    background-color: orange;
}

.cinco{
    background-color: purple;
}

.seis{
    background-color: yellow;
}

