#loja {
    position: relative;
    height: 100%;
    max-height: 650px;
    width: 100%;
    max-width: 500px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../assets/img/fundo_loja.jpg");
    padding: 10px;
    color: #ffb700;
    overflow: hidden;
}

.fecha {
    position: absolute;
    top: 2px;
    right: 0;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: 2px solid rgb(168, 11, 11);
    background-color: red;
    cursor: pointer;
}

.fecha span {
    font-size: 22px;
    position: relative;
    top: -2px;
    color: white;
}


#loja h2 {
    margin: 5px 0;
}

.linhaItens {
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.caixaItem {
    /* border: 1px solid black; */
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 10px;
    margin: 0 4px;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.595);
    /* background-color: red; */
}

.imgItemLoja {
    /* border: 1px solid rgb(0, 4, 255); */
    height: 80%;
    width: 80%;
}

.precoItemLoja {
    /* color: #0a9500; */
    font-weight: bold;
    margin: 5px 0;
    padding: 0;
}

.cbxItemLoja {
    position: absolute;
    top: 0;
    left: 0;
    appearance: none;
    border: 1px solid red;
    height: 20px;
    width: 20px;
    /* Ajustado para ser proporcional ao tamanho de um checkbox padrão */
}






.control {
    font-family: arial;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #754d30;
    border: 1px solid #000000;
    border-radius: 0px;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
    background: #553823;
}

.control input:checked~.control_indicator {
    background: #754d30;
}

.control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
    background: #553823;
}

.control input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 5px;
    top: 0;
    width: 6px;
    height: 11px;
    border: solid #ffb700;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff21b;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}

@keyframes s-ripple {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes s-ripple-dup {
    0% {
        transform: scale(0);
    }

    30% {
        transform: scale(1);
    }

    60% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.control-checkbox input+.control_indicator::before {
    animation: s-ripple 250ms ease-out;
}

.control-checkbox input:checked+.control_indicator::before {
    animation-name: s-ripple-dup;
}