*{
    margin: 0px;
    padding: 0px
}

body{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.jogo{
    display: flex;
    gap: 12.5%;
    flex-direction: row;
    flex-wrap:  nowrap;
    justify-content: center;
    align-items: center;
    margin: 10% 0%;
}

.bloco{
    background-image: url(../assets/img/fundo-jogo.png);
    z-index: 1;
    max-height: 506px;
    max-width: 500px;
    position: relative;
}


#nomePlayer, #nomeBoss{
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 25rem;
    text-decoration: underline;
    font-weight: bold;
    font-size: 2em;
    white-space: nowrap;
}

#nomePlayer{
    margin-left: 10.6rem;
}
#nomeBoss{
    margin-left: 12rem;
}

.conteudo{
    margin-top: -15px;
    margin-left: 2%;
    position: relative;  
    height: 80px;
    width: 95%;
    align-self: flex-end;
}

.status{   
    color: white;
    font-size: 1.25rem;

    margin-left: 6%;
    margin-top: -10px;   

    border: 1px solid red;
    display: inline-flex;
    gap: 35px;  
}

.ajustaLado{
    margin-left: 0px;
    
}
.acoes{ 
 
    display: flex;
    margin-top: 10px;                                           
 
}
button{
    white-space: nowrap;
    height: 35px;
    width: 140px;
    margin-right: 10px;
}

.blocoBoss{
    display: block;
}



.borda{
    position: absolute;
    z-index: -1;
    bottom: -50px;
    left: -74px;
    height: 38rem;
    width: 37rem;
}

.borda2{
    filter: sepia(100);
    position: absolute;
    z-index: -1;
    bottom: -70px;
    left: -90px;
    height: 41.5rem;
    width: 40rem;
}
