*{
    margin: 0px;
    padding: 0px
}

body{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.jogo{
    display: flex;
    gap: 12.5%;
    flex-direction: row;
    flex-wrap:  nowrap;
    justify-content: center;
    align-items: center;
    margin: 10% 0%;
}

.bloco{
    background-image: url(../assets/img/fundo-jogo.png);
    background-size: cover;
    z-index: 1;
    max-height: 506px;
    max-width: 500px;
    position: relative;
    font-weight: bold;
}

.borda{
    position: absolute;
    z-index: -1;
    bottom: -50px;
    left: -75px;
    height: 38rem;
    width: 37rem;
}

.mudaCor{
    filter: sepia(1);
}


#nomePlayer, #nomeBoss{
    color: white;
    display: inline-flex;
    margin-left: 10.5rem;
    margin-top: 10px;
    margin-bottom: 25rem;
    text-decoration: underline;
    font-size: 2em;
    white-space: nowrap;
}


.conteudo{
    top: -38px;
    margin-left: 1.5%;
    position: relative;  
    height: 80px;
    width: 95%;
    align-self: flex-end;
}

.status{  
    color: white;
    font-size: 1.25rem;
    margin-top: -10px;   
    line-height: 100%;
    display: flex;
    gap: 25px;  
}

.acoes{ 
    display: flex;
    margin-top: 10px;                                           
}

button{
    color: white;
    font-weight: bold;
    background-image: url(../assets/img/prata.png);
    border: 1px solid black;
    white-space: nowrap;
    height: 35px;
    width: 144px;
    margin-right: 10px;
}




/* JS */
.blocoBoss{
    display: none;
}

.esconde{
    z-index: -3;
    opacity: 0;
}

.ajustaBotao{
    position:relative;
    left:-295px;
}
