/* utilizamos a tag HTML para que qualquer elemento da nossa página terá o cursor personalizado */
*{
/* cursor: url("IMAGEM"), ESQUERDA, P/ BAIXO (EIXOS DE RENDERIZAÇÃO DA IMG -> o cursor propriamente dito ficará posicionado em 30 30 das dimensões da nossa imagem); */
cursor: url("imagens/mata_mosca.png"), default;
}

body{
    background-color: rgb(35, 114, 55);
    background-image: url(imagens/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.painel{
    position: absolute;
    width: 190px;
    padding: 10px;          
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas{
    float: left;

}
.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.mosca1{
    height: 60px;
    width: 60px;  
}

.mosca2{
    height: 70px;
    width: 70px;  
}

.mosca3{
    height: 90px;
    width: 90px;  
}

.ladoA{
    transform: scaleX(1); /*lado 1 é a posição ORIGINAL da img*/
}

.ladoA{
    transform: scaleX(-1); /*lado -1 é a posição INVERTIDA da img*/
}